/* body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
} */

.vector-icon {
  position: absolute;
  top: 307px;
  left: 947px;
  width: 758.8px;
  height: 636px;
  object-fit: contain;
  opacity: 0.3;
}
.color-blur-icon {
  position: absolute;
  top: 319px;
  left: 563px;
  width: 1002.2px;
  height: 976.7px;
  object-fit: contain;
}
.vector-icon2 {
  position: absolute;
  top: 1219px;
  left: 15px;
  width: 758.8px;
  height: 636px;
  object-fit: contain;
  opacity: 0.3;
}
.vector-icon3 {
  position: absolute;
  top: 1294px;
  left: 33px;
  width: 1173.7px;
  height: 640.2px;
  object-fit: contain;
  opacity: 0.3;
}

.home-page {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 2900px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Poppins;
}

body {
  font-family: Arial, sans-serif;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

/* 1 */

.home-page-item {
  position: absolute;
  top: 217px;
  left: 60%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.36);
  box-sizing: border-box;
  width: 466px;
  height: 568px;
}
.home-page-icon {
  position: absolute;
  left: 60%;
  height: 1000px;
  object-fit: cover;
  border-radius: 15px;
}
.home-page-title {
  position: absolute;
  top: 330px;
  left: 100px;
  font-size: 60px;
  letter-spacing: -0.02em;
  font-family: "Optician Sans";
  display: inline-block;
  width: 588px;
  line-height: 70px;
  text-align: left;
}
.at-ecosmophere {
  position: absolute;
  top: 490px;
  left: 100px;
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
  display: flex;
  align-items: center;
  width: 585px;
}
.hover-more-s {
  overflow: hidden;
  position: relative;
  top: 740px;
  left: 100px;
}
.cta-buttons {
  background-color: #739646;
  color: #fff;
  padding: 7px 100px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 18px;
  border: 2px solid #739646;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  margin-bottom: 20px;
}

.cta-buttons:hover {
  background-color: #fff;
  color: #6ea54e;
}

/* 2 */
.about-us {
  position: absolute;
  top: 1230px;
  left: 770px;
  font-size: 60px;
  letter-spacing: -0.02em;
  font-family: "Optician Sans";
}
.detail-about-us {
  position: absolute;
  top: 1350px;
  left: 770px;
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
  display: inline-block;
  width: 552px;
  height: 370px;
}
.frame-type-1 {
  position: absolute;
  top: 1100px;
  left: 105px;
  border-radius: 8px;
  width: 280px;
  height: 257px;
  overflow: hidden;
}
.about-us-1 {
  position: absolute;
  object-fit: cover;
}
.frame-type-2 {
  position: absolute;
  top: 1100px;
  left: 420px;
  border-radius: 8px;
  width: 282px;
  height: 325px;
  overflow: hidden;
}
.about-us-2 {
  position: absolute;
  object-fit: cover;
}
.frame-type-3 {
  position: absolute;
  top: 1395px;
  left: 105px;
  border-radius: 8px;
  width: 282px;
  height: 325px;
  overflow: hidden;
}
.about-us-3 {
  position: absolute;
  object-fit: cover;
}
.frame-type-4 {
  position: absolute;
  top: 1465px;
  left: 420px;
  border-radius: 8px;
  width: 279px;
  height: 256px;
}
.about-us-4 {
  position: absolute;
  object-fit: cover;
}
.click-me {
  overflow: hidden;
  position: absolute;
  top: 2830px;
  left: 729px;
}

/* 3 */
.section-3 {
  position: absolute;
  top: 2300px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 716px;
  color: #000000;
}
.title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 548px;
  height: 125px;
  text-align: center;
  font-size: 40px;
  font-family: "Optician Sans";
}
.title-1 {
  position: absolute;
  top: 75px;
  width: 548px;
  height: 125px;
}
.title-up {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 348px;
  height: 33px;
  font-size: 24px;
  color: #000;
}
.title-up-caption {
  position: absolute;
  top: 9px;
  left: 0px;
  letter-spacing: -0.02em;
}
.title-acc {
  position: absolute;
  top: 0px;
  left: 155px;
  background-color: #000;
  width: 32px;
  height: 1px;
}
.title-down {
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: -0.02em;
  display: inline-block;
  width: 548px;
  line-height: 40px;
  text-align: center;
}

.left-side {
  position: absolute;
  top: 196px;
  left: 0px;
  width: 572px;
  height: 520px;
}
.article-a {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  cursor: pointer;
}
.article-content {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.article-link {
  color: #000;
  text-decoration: none;
}
.article-title {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}
.article-time {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  font-size: 14px;
  color: #888b97;
}

.article-time p {
  margin-bottom: 0;
}

.article-b {
  position: absolute;
  top: 188px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  cursor: pointer;
}
.article-c {
  position: absolute;
  top: 376px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  cursor: pointer;
}
.right-side {
  position: absolute;
  top: 198px;
  left: 640px;
  width: 560px;
  height: 500px;
}
.article-4 {
  position: absolute;
  top: 304px;
  left: 0px;
  width: 560px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.article-4-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.article-4-desc {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  color: #626687;
  opacity: 0.75;
  text-align: justify;
}
.click-me {
  overflow: hidden;
  position: absolute;
  top: 2670px;
  left: 700px;
}
.cta-button-2 {
  background-color: #739646;
  color: #fff;
  padding: 5px 2px;
  border-radius: 50px;
  margin-left: 37px;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  border: 2px solid #739646;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Poppins", sans-serif;
  display: flex;
  width: 560px;
  align-items: center;
  justify-content: center;
}
.cta-button-2:hover {
  background-color: #fff;
  color: #6ea54e;
}
