/* body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
} */

.vector-icon {
  position: absolute;
  top: 307px;
  left: 947px;
  width: 758.8px;
  height: 636px;
  object-fit: contain;
  opacity: 0.3;
}
.color-blur-icon {
  position: absolute;
  top: 319px;
  left: 563px;
  width: 1002.2px;
  height: 976.7px;
  object-fit: contain;
}
.vector-icon2 {
  position: absolute;
  top: 1219px;
  left: 15px;
  width: 758.8px;
  height: 636px;
  object-fit: contain;
  opacity: 0.3;
}
.vector-icon3 {
  position: absolute;
  top: 1294px;
  left: 33px;
  width: 1173.7px;
  height: 640.2px;
  object-fit: contain;
  opacity: 0.3;
}

.home-page {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 2900px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Poppins;
}

body {
  font-family: Arial, sans-serif;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

/* 1 */

.home-page-item {
  position: absolute;
  top: 217px;
  left: 60%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.36);
  box-sizing: border-box;
  width: 466px;
  height: 568px;
}
.home-page-icon {
  position: absolute;
  left: 60%;
  height: 1000px;
  object-fit: cover;
  border-radius: 15px;
}
.home-page-title {
  position: absolute;
  top: 330px;
  left: 100px;
  font-size: 60px;
  letter-spacing: -0.02em;
  font-family: 'Optician Sans';
  display: inline-block;
  width: 588px;
  line-height: 70px;
  text-align: left;
}
.at-ecosmophere {
  position: absolute;
  top: 490px;
  left: 100px;
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
  display: flex;
  align-items: center;
  width: 585px;
}
.hover-more-s {
  overflow: hidden;
  position: relative;
  top: 740px;
  left: 100px;
}
.cta-buttons {
  background-color: #739646;
  color: #fff;
  padding: 7px 100px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 18px;
  border: 2px solid #739646;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  margin-bottom: 20px;
}

.cta-buttons:hover {
  background-color: #fff;
  color: #6ea54e;
}

/* 2 */
.about-us {
  position: absolute;
  top: 1230px;
  left: 770px;
  font-size: 60px;
  letter-spacing: -0.02em;
  font-family: 'Optician Sans';
}
.detail-about-us {
  position: absolute;
  top: 1350px;
  left: 770px;
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
  display: inline-block;
  width: 552px;
  height: 370px;
}
.frame-type-1 {
  position: absolute;
  top: 1100px;
  left: 105px;
  border-radius: 8px;
  width: 280px;
  height: 257px;
  overflow: hidden;
}
.about-us-1 {
  position: absolute;
  object-fit: cover;
}
.frame-type-2 {
  position: absolute;
  top: 1100px;
  left: 420px;
  border-radius: 8px;
  width: 282px;
  height: 325px;
  overflow: hidden;
}
.about-us-2 {
  position: absolute;
  object-fit: cover;
}
.frame-type-3 {
  position: absolute;
  top: 1395px;
  left: 105px;
  border-radius: 8px;
  width: 282px;
  height: 325px;
  overflow: hidden;
}
.about-us-3 {
  position: absolute;
  object-fit: cover;
}
.frame-type-4 {
  position: absolute;
  top: 1465px;
  left: 420px;
  border-radius: 8px;
  width: 279px;
  height: 256px;
}
.about-us-4 {
  position: absolute;
  object-fit: cover;
}
.click-me {
  overflow: hidden;
  position: absolute;
  top: 2830px;
  left: 729px;
}

/* 3 */
.section-3 {
  position: absolute;
  top: 2300px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 716px;
  color: #000000;
}
.title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 548px;
  height: 125px;
  text-align: center;
  font-size: 40px;
  font-family: 'Optician Sans';
}
.title-1 {
  position: absolute;
  top: 75px;
  width: 548px;
  height: 125px;
}
.title-up {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 348px;
  height: 33px;
  font-size: 24px;
  color: #000;
}
.title-up-caption {
  position: absolute;
  top: 9px;
  left: 0px;
  letter-spacing: -0.02em;
}
.title-acc {
  position: absolute;
  top: 0px;
  left: 155px;
  background-color: #000;
  width: 32px;
  height: 1px;
}
.title-down {
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: -0.02em;
  display: inline-block;
  width: 548px;
  line-height: 40px;
  text-align: center;
}

.left-side {
  position: absolute;
  top: 196px;
  left: 0px;
  width: 572px;
  height: 520px;
}
.article-a {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  cursor: pointer;
}
.article-content {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.article-link {
  color: #000;
  text-decoration: none;
}
.article-title {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}
.article-time {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  font-size: 14px;
  color: #888b97;
}

.article-time p {
  margin-bottom: 0;
}

.article-b {
  position: absolute;
  top: 188px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  cursor: pointer;
}
.article-c {
  position: absolute;
  top: 376px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  cursor: pointer;
}
.right-side {
  position: absolute;
  top: 198px;
  left: 640px;
  width: 560px;
  height: 500px;
}
.article-4 {
  position: absolute;
  top: 304px;
  left: 0px;
  width: 560px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.article-4-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.article-4-desc {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  color: #626687;
  opacity: 0.75;
  text-align: justify;
}
.click-me {
  overflow: hidden;
  position: absolute;
  top: 2670px;
  left: 795px;
}

.article-time-1 {
  display: flex;
  align-items: center;
}

.cta-button-2 {
  background-color: #739646;
  color: #fff;
  padding: 5px;
  border-radius: 50px;
  margin-left: 37px;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  border: 2px solid #739646;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Poppins', sans-serif;
  display: flex;
  width: 560px;
  align-items: center;
  justify-content: center;
}
.cta-button-2:hover {
  background-color: #fff;
  color: #6ea54e;
}

/* Responsive mode */
@media screen and (max-width: 768px) {
  .home-page-title {
    font-size: 27px;
    left: 50px;
    top: 250px;
  }
  .article-time-1 {
    display: flex;
    align-items: center;
  }

  .at-ecosmophere {
    left: 50px;
    font-size: 15px;
    width: 360px;
    top: 315px;
  }
  .home-page-item {
    width: 280px;
    height: 380px;
  }
  .home-page-icon {
    height: 600px;
    bottom: 2175px;
  }
  .color-blur-icon {
    left: 15px;
    top: -30px;
  }
  .hover-more-s {
    left: 50px;
    top: 555px;
  }
  .cta-buttons {
    padding: 3px 60px;
  }
  .frame-type-1 {
    width: 180px;
    height: 200px;
    left: 50px;
    top: 865px;
  }
  .frame-type-2 {
    left: 248px;
    width: 180px;
    top: 865px;
  }
  .frame-type-3 {
    left: 50px;
    width: 180px;
    top: 1048px;
  }
  .frame-type-4 {
    left: 248px;
    width: 180px;
    top: 1090px;
  }
  .about-us {
    left: 460px;
    font-size: 30px;
    top: 870px;
  }
  .detail-about-us {
    left: 460px;
    font-size: 15px;
    width: 250px;
    top: 920px;
  }
  .title-up-caption {
    font-size: 35px;
    top: -400px;
    padding-left: -10vw;
    text-wrap: nowrap;
    text-align: center;
  }

  .title-up {
    left: 30px;
    line-height: 2vw;
  }
  .title-down {
    font-size: 35px;
    top: -345px;
    padding-left: 10px;
    line-height: 4vw;
    text-align: center;
  }
  .article-a {
    top: 150px;
    left: 328px;
    font-size: 18px;
    width: 520px;
  }
  .article-title {
    width: 380px;
  }
  .article-time {
    font-size: 15px;
  }
  .clock,
  .clock-1,
  .clock-2 {
    width: 20px;
  }
  .article-b {
    top: 300px;
    left: 328px;
    font-size: 18px;
    width: 520px;
  }
  .article-c {
    top: 450px;
    left: 328px;
    font-size: 18px;
    width: 520px;
  }
  .right-side {
    left: 325px;
    width: 555px;
    top: -270px;
  }
  .article-time-1 {
    font-size: 10px;
    display: flex;
    gap: 10px;
  }
  .eco-friendly {
    font-size: 17px;
    width: 200px;
  }
  .article-4-desc {
    font-size: 15px;
    width: 555px;
  }
  .article-4 {
    top: 290px;
  }
  .clock-3 {
    width: 20px;
    height: 17px;
  }
  .click-me {
    left: 75px;
    top: 2200px;
  }
  .cta-button-2 {
    padding: 3px;
    width: 555px;
  }
}

@media screen and (max-width: 426px) {
  .home-page-title {
    font-size: 25px;
    left: -75px;
    top: 80px;
    text-align: center;
  }
  .home-page-item {
    width: 250px;
    height: 220px;
    left: 4rem;
  }
  .at-ecosmophere {
    font-size: 14px;
    left: 25px;
    width: 380px;
    top: 500px;
  }
  .home-page-icon {
    width: 250px;
    height: 400px;
    left: 6rem;
    padding-top: 100px;
    bottom: 2420px;
  }
  .cta-buttons {
    padding: 3px 60px;
  }
  .color-blur-icon {
    left: 25px;
    top: -100px;
  }
  .hover-more-s {
    left: 25px;
    top: 650px;
  }
  .frame-type-1 {
    width: 150px;
    height: 200px;
    left: 25px;
    top: 865px;
  }
  .frame-type-2 {
    left: 190px;
    width: 150px;
    top: 865px;
  }
  .frame-type-3 {
    left: 25px;
    width: 150px;
    top: 1015px;
  }
  .frame-type-4 {
    left: 190px;
    width: 150px;
    top: 1050px;
  }
  .about-us {
    left: 25px;
    font-size: 25px;
    top: 1250px;
  }
  .detail-about-us {
    left: 25px;
    font-size: 13px;
    width: 380px;
    top: 1305px;
  }
  .title-up-caption {
    font-size: 19px;
    text-align: center;
    top: -310px;
    padding-left: 38px;
  }
  .title-down {
    font-size: 19px;
    top: -260px;
    padding-left: 65px;
    padding-right: 65px;
    line-height: 6vw;
  }
  .article-a {
    top: 150px;
    left: 410px;
    font-size: 12px;
  }
  .img-1 {
    width: 110px;
  }
  .article-title {
    width: 250px;
  }
  .article-time {
    font-size: 10px;
  }
  .clock,
  .clock-1,
  .clock-2 {
    width: 15px;
  }
  .article-b {
    top: 240px;
    left: 410px;
    font-size: 12px;
  }
  .img-2 {
    width: 110px;
  }
  .article-c {
    top: 330px;
    left: 410px;
    font-size: 12px;
  }
  .img-3 {
    width: 110px;
  }
  .right-side {
    left: 413px;
    width: 380px;
    top: -180px;
  }
  .article-time-1 {
    font-size: 10px;
    display: flex;
    gap: 10px;
  }
  .eco-friendly {
    font-size: 13px;
    width: 200px;
  }
  .article-4-desc {
    font-size: 10px;
    width: 390px;
  }
  .article-4 {
    top: 230px;
  }
  .clock-3 {
    width: 17px;
    height: 20px;
  }
  .click-me {
    left: -10px;
    top: 2175px;
  }
  .cta-button-2 {
    padding: 0;
    width: 380px;
  }
}
