 .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    position: fixed; 
    top: 0; 
    z-index: 1000; 
    padding-inline: 90px; 
    box-sizing: border-box; 
    height: 80px;
    /* padding-bottom: 5px; */
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #7fbf7f;
  }
  
  .nav {
    display: flex;
    align-items: center; 
    gap: 70px; 
    font-size: 15px;
    font-family: Poppins;
    padding-top: 10px;
  }
  
  .nav a {
    text-decoration: none;
    color: #5c7838;
    transition: font-weight 0.3s ease, color 0.3s ease;
  }
  
  .nav a:hover {
    font-weight: bold;
    color: #5c7838;
  }
  
  .nav .login-button {
    padding: 7px 20px;
    background-color: #739646;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-size: 15px;
}

.cta-button {
    background-color: #739646;
    color: #fff;
    padding: 5px 60px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid #739646;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: "Poppins", sans-serif;
    display: inline-block; 
    margin-top: 20px;
  }
  
  .cta-button:hover {
    background-color: #fff;
    color: #6ea54e;
  }
  