.article-1 {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 3610px;
  overflow: hidden;
  text-align: left;
  font-size: 11px;
  color: #333;
  font-family: Poppins;
}
.article-child {
  position: absolute;
  top: 3774px;
  left: 826px;
  width: 50px;
  height: 503px;
}

/* Indepth article */
.in-depth-article {
  align-self: stretch;
  position: relative;
  letter-spacing: 0em;
  line-height: 60px;
  word-spacing: normal;
  text-align: left;
}

.explore {
  width: 615px;
  position: relative;
  font-size: 24px;
  font-weight: 500;
  font-family: Poppins;
  display: inline-block;
}
.txt {
  position: absolute;
  top: 150px;
  left: 120px;
  width: 690px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 60px;
  font-size: 64px;
  font-family: 'Optician Sans';
}
.img-article1 {
  position: absolute;
  top: 10px;
  left: 1050px;
  border-radius: 24px;
  width: 202px;
  height: 460px;
  overflow: hidden;
  object-fit: cover;
}
.img-article2 {
  position: absolute;
  top: 70px;
  left: 790px;
  border-radius: 24px;
  width: 204px;
  height: 460px;
  overflow: hidden;
  object-fit: cover;
}

.cta-button {
  background-color: #739646;
  color: #fff;
  padding: 7px 100px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 18px;
  border: 2px solid #739646;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Poppins", sans-serif;
  display: inline-block; /* Membuat tombol mengikuti text-align */
}

.cta-button:hover {
  background-color: #fff;
  color: #6ea54e;
}

/* All categories */
.article-item {
  position: absolute;
  top: 970px;
  left: 706px;
  border-radius: 24px;
  width: 204px;
  height: 204px;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}

.article-categories-parent {
  position: absolute;
  top: 100px;
  left: -120px;
  width: 1198px;
  height: 24px;
  cursor: pointer;
  font-size: 16px;
  color: #000;
}

.article-Allcategories, .article-EcoEssentials, .article-GreenLiving, .article-EcoTech {
  position: absolute;
  top: 0px;
  width: 400px;
  height: 24px;
}

.article-EcoEssentials {
  left: 380px;
}

.article-GreenLiving {
  left: 757px;
}

.article-EcoTech {
  left: 1116px;
}

.eco-tech1 {
  position: absolute;
  top: 800px;
  left: 250px;
  text-transform: uppercase;
}

.news {
  position: absolute;
  top: 1000px;
  left: 123px;
  border-radius: 24px;
  width: 571px;
  height: 716px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 30px;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  font-family: 'Optician Sans';
}

.img-article3 {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.calendar, .calendar2, .calendar-1, .calendar-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.icons-calendar, .icons-calendarA, .icons-calendarB, .icons-calendarC {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}

.danastra, .danastra2, .danastra3, .danastra4{
  position: relative;
  line-height: 18px;
  font-size: 12px;
  line-height: 140%;
}

/* .category {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  font-size: 12px;
  font-family: Lato;
} */


.bullets {
  width: 420px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

.eco-house-environmentally {
  text-align: left;
  align-self: stretch;
  position: relative;
  font-size: 24px;
  letter-spacing: -0.02em;
  font-family: 'Optician Sans';
  color: #333;
  text-decoration: none;
  line-height: 25px;
}

.headline, .have-you-ever {
  align-self: stretch;
  position: relative;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}

.have-you-ever {
  font-size: 14px;
  line-height: 140%;
  color: #333;
  text-align: justify;
}

.text, .text1, .text2 {
  position: absolute;
  cursor: pointer;
  color: #656565;
}

.text {
  top: 982px;
  left: 936px;
  width: 382px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}


.article-inner {
  position: absolute;
  top: 1235px;
  left: 715px;
  border-radius: 24px;
  width: 204px;
  height: 203px;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}

.text1 {
  top: 1240px;
  left: 938px;
  width: 379px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  cursor: pointer;
  color: #656565;
}

.frame-icon {
  position: absolute;
  top: 1481px;
  left: 715px;
  border-radius: 24px;
  width: 203px;
  height: 201px;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}

.text2 {
  top: 1490px;
  left: 936px;
  width: 381px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  cursor: pointer;
  color: #656565;
}




/* More Article */
.more-articles {
  position: relative;
  top: 2000px;
  left: 120px;
  font-size: 64px;
  letter-spacing: -0.02em;
  font-family: 'Optician Sans';
  display: inline-block;
  width: 467px;
}
.img-icon {
  position: absolute;
  top: 2150px;
  left: 121px;
  border-radius: 32px;
  width: 587px;
  height: 345px;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}
.eco-greenhouses {
  margin: 0;
}
.title1 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  color: inherit;
  text-decoration: none;
}
.headline4 {
  width: 585px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bullets3 {
  width: 585px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 60px;
  font-size: 11px;
  font-family: Poppins;
}
.headline3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.our-age-is1 {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 140%;
  font-family: Poppins;
  text-align: justify;
 
}

.our-age-is2 {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 140%;
  font-family: Poppins;
  text-align: justify;
}
.body {
  position: absolute;
  top: 2150px;
  left: 735px;
  width: 586px;
  height: 345px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  font-size: 40px;
  font-family: 'Optician Sans';
}
.title1 {
  width: 574px;
  position: relative;
  letter-spacing: -0.02em;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  text-align: left;
  line-height: 35px;
}

.title2 {
  width: 574px;
  position: relative;
  letter-spacing: -0.02em;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  text-align: left;
  line-height: 35px;
}

.title3 {
  width: 574px;
  position: relative;
  letter-spacing: -0.02em;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  text-align: left;
  line-height: 35px;
  text-decoration: none;
  color:#000;
}

.headline6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body1 {
  position: absolute;
  top: 2600px;
  left: 121px;
  width: 587px;
  height: 344px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  font-size: 40px;
  font-family: 'Optician Sans';
}
.img-icon1 {
  position: absolute;
  top: 2600px;
  left: 735px;
  border-radius: 32px;
  width: 587px;
  height: 345px;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}
.img-icon2 {
  position: absolute;
  top: 3050px;
  left: 121px;
  border-radius: 32px;
  width: 587px;
  height: 345px;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}
.healthy-living-can-container {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  display: inline-block;
  height: 172px;
  flex-shrink: 0;
  font-family: Poppins;
  text-decoration: none;
  color:#000;
}
.body2 {
  position: absolute;
  top: 3050px;
  left: 737px;
  width: 583px;
  height: 344px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  font-size: 40px;
  font-family: 'Optician Sans';
}
.Logo {
  width: 168px;
  position: relative;
  height: 32px;
  object-fit: cover;
}
.we-provide-information {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  line-height: 140%;
  display: inline-block;
  opacity: 0.75;
}
.brandicofacebook-icon {
  width: 32px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.brandicofacebook-parent {
  position: absolute;
  height: 25%;
  width: 45%;
  top: 75%;
  right: 55%;
  bottom: 0%;
  left: 0%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.bio {
  width: 320px;
  position: relative;
  height: 128px;
}
.group-logo {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.property1 {
  width: 94px;
  position: relative;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  display: inline-block;
  color: #414958;
}
.discover {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.property {
  width: 176px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.article2 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #414958;
}
.eco-tech {
  align-self: stretch;
  position: relative;
  text-transform: capitalize;
  font-family: Lexend;
}

.hover-more {
  position: absolute;
  top: 728px;
  left: 120px;
  border-radius: 50px;
  background-color: #739646;
  color: white;
  box-sizing: border-box;
  width: 276px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 24px;
  font-size: 14px;
}
.icon-more {
  position: absolute;
  top: 2000px;
  left: 1287px;
  width: 30.3px;
  height: 30.3px;
}

.the-concept-of-green {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 140%;
  font-family: Poppins;
  display: inline-block;
  height: 48px;
  flex-shrink: 0;
}

.bullets6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 60px;
  font-size: 11px;
  font-family: Poppins;
}
.content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 30px;
}

#newsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.text-content {
  flex: 1;
}

.image-content {
  flex: 0 0 400px; /* Tentukan ukuran lebar gambar */
}

a.eco-tech1 {
  color: #000;
  text-decoration: none;
}


@media (max-width: 768px) {
/* indepth */
  .in-depth-article {
  font-size: 30px;
  padding-right: 40vw;
  margin-left: 6vw;
  line-height: 4vw;
}
  .explore {
    font-size: 11px;
    padding-right: 25vw;
    text-align: left;
    margin-left: 6vw;
    top: 10px;
    font-size: 2vw;
  }
   .cta-button{
    margin-left: 6vw;
    margin-top: 5vw;
  }
  .txt {
    position: relative;
    top: 15vw;
    left: 10px;
    width: 100%;
    gap: 10px;
    
  }
  .img-article1 {
    position: absolute;
    top: -1vw;
    left: 80vw;
    width: 90px;
    height: 190px;
  }
  .img-article2 {
    position: absolute;
    top: 30px;
    left: 67vw;
    width: 90px;
    height: 190px;
  }
 
  /* All category */
  .news {
    top: 35vw;
    width: 45%;;
    left: 3vw;
  }

  .article-Allcategories, .article-EcoEssentials, .article-GreenLiving,.article-EcoTech{
    top :-52vw;
    z-index: 1;
    font-size: -1vw;
  }

  .article-Allcategories{
    left: -9vw;
  }

  .article-EcoEssentials{
    left: 17vw;
  }

  .article-GreenLiving{
    left : 43vw;
  }

  .article-EcoTech{
    left: 66vw;
  }

  .article-inner, .article-item, .frame-icon {
    left : 44vw;
    width: 17%;
    height: 17vw;
  }

  .article-item {
    top : 73vw;
  }

  .article-inner {
    top : 90vw;
  }

  .frame-icon {
    top: 107vw;
  }
  .eco-house-environmentally {
    font-size: 2vw;
    line-height: 2vw;
    left: 0vw;;
  }

  .text {
    left : 61vw;
    padding-right: 15vw;
    font-size: 1vw;
    line-height:-2vw;
    top: 72vw;
  }

  .text1 {
    left : 61vw;
    padding-right: 15vw;
    font-size: 1vw;
    top: 89vw
  }

  .text2{
    left : 61vw;
    padding-right: 15vw;
    font-size : 1vw;
    top: 107vw;
  }
.calendar{
  padding-left:9vw;
  gap:2vw;
}

.calendar2{
  margin-left:-2vw;
  width: -1vw;
  height: -1vw;
}
  .icons-calendar {
    width: 1vw;
    height: 1vw;
    left : 1vw;
  }

  .danastra{
    font-size: 1vw;
    text-wrap: nowrap;
    left:-1vw;
  }

  .bullets{
    margin-left: -10vw;
  }

  .headline{
    padding-bottom: 0vw;
  }

/* more-article */
  .more-articles{
    top: 108vw;
    font-size: 30px;
    left: 7vw;
  }
  
  .icon-more{
  top: 103vw;
  left: 87vw;
  position: relative;
  width: 3vw;
  height: 3vw;
  }

  .img-icon, .img-icon1, .img-icon2{
    width: 50vw;
    height: 30vw;
    
  }

  .img-icon{
    top:156vw;
    align-items: center;
    margin-left : 10vw;
  }

  .img-icon1{
    top: 226vw;
    align-items: center;
    left: 26vw;
  }

  .img-icon2{
    top: 299vw;
    left: 26vw;
  }

  .title1, .title2, .title3{
    font-size: 25px;
    text-align: center;
    line-height: 3vw;;
  }

  .title1{
    left:-82vw;
    top: -93vw;
  }

  .our-age-is1{
    left: -83vw;
    top: -101vw;
  }

  .title2{
    top: -81vw;
    left:-2vw;
  }

  .our-age-is2{
    top: -86vw;
    left: -2vw;
  }

  .title3{
    top: -67vw;
    left: -82vw;
  }

  .healthy-living-can-container{
    top:-80vw;
    left: -82vw;
  }

.calendar-1{
  top: 90vw;
  left:-100vw; 
}
.danastra2{
  top: -94vw;
  left:-63vw; 
}
.icons-calendarA{
  top: -94vw;
  left:-63vw;
}
.danastra3 {
  top: -82vw;
  left:16vw; 
}
.icons-calendarB{
  top: -82vw;
  left:16vw; 
}
.danastra4{
  top: -68vw;
  left:-60vw;
}

.icons-calendarC{
  top: -68vw;
  left:-60vw;
}

}

@media (max-width: 426px) {
  /* indepth */
  .in-depth-article {
    font-size: 25px;
    padding-right: 35vw;
    margin-left: 6vw;
    z-index: 1;
    top: 10vw;
  }

  .explore {
    top: 12vw;
    padding-right: 86vw;
  }
.cta-button{
  width: 46%;
  height: 7vw;
  text-wrap: nowrap;
  font-size: 3vw;
  display: inline-block;
  text-align: center;
  padding: 4px 7px;
  margin-top: 14vw;
}

.cta-button:hover {
  background-color: #fff;
  color: #6ea54e;
}

.img-article1, .img-article2{
width: 14vw;
  height: 31vw;
}
.img-article1 {
  top: 10vw;
}

.img-article2 {
  top: 15vw;
  left: 65vw;
}

/* all-category */

.news {
    top: 15vw;
    width: 48%;
  }

  .article-Allcategories, .article-EcoEssentials, .article-GreenLiving,.article-EcoTech{
    top : -139vw;
    z-index: 1;
    font-size: 2vw;
  }

  .article-Allcategories{
    left: -20vw;
  }

  .article-EcoEssentials{
    left: 6vw;
  }

  .article-GreenLiving{
    left : 33vw;
  }

  .article-EcoTech{
    left: 57vw;
  }

  .article-inner, .article-item, .frame-icon {
    left : 44vw;
    width: 16%;
    height: 16vw;
  }

  .article-item {
    top : 82vw;
  }

  .article-inner {
    top : 98vw;
  }

  .frame-icon {
    top: 114vw;
  }
  .eco-house-environmentally {
    font-size: 2vw;
    line-height: 2vw;
    left: 0vw;;
  }

  .text {
    left : 61vw;
    padding-right: 55vw;
    font-size: 1vw;
    line-height:-2vw;
    
    top: 80vw;
  }

  .text1 {
    left : 61vw;
    padding-right: 55vw;
    font-size: 1vw;
    top: 97vw
  }

  .text2{
    left : 61vw;
    padding-right: 55vw;
    font-size : 1vw;
    top: 113vw;
  }
.calendar{
  padding-left:9vw;
  gap:2vw;
}

.calendar2{
  margin-left:-2vw;
  width: -1vw;
  height: -1vw;
}
  .icons-calendar {
    width: 1vw;
    height: 1vw;
    left : 1vw;
  }

  .danastra{
    font-size: 1vw;
    text-wrap: nowrap;
    left:-1vw;
  }

  .bullets{
    margin-left: -10vw;
  }

  .headline{
    padding-bottom: 0vw;
  }

  /* more-article */

  .more-articles{
    top: 100vw;
    font-size: 25px;
    margin-left: 3vw;
  }

  .icon-more{
    top: 94vw;
  }

  .img-icon{
    top:162vw;
    align-items: center;
    margin-left : -2vw;
  }

  .img-icon1{
    top: 250vw;
    align-items: center;
    left: 27vw;
  }

  .img-icon2{
    top: 338vw;
    left: 27vw;
  }

  .title1, .title2, .title3{
    font-size: 17px;
    text-align: center;
    line-height: 3vw;
    right: 20vw;
  }

  .our-age-is1, .our-age-is2, .healthy-living-can-container{
    font-size: 2vw;
    padding-left: 25vw;
    padding-right:30vw ;
  }

  .title1{
    left:-187vw;
    top: -312vw;
  }

  .our-age-is1{
    left: -187vw;
    top: -345vw;
  }

  .title2{
    top: -330vw;
    left: -18vw;
    padding-left:-50vw;
    padding-right: 50vw; ;
  }

  .our-age-is2{
    top: -363vw;
    left: -42vw;
  }

  .title3{
    top: -348vw;
    left: -160vw;
    padding-left:-55vw;
    padding-right: 55vw;
  }

  .healthy-living-can-container{
    top:-375vw;
    left: -187vw;
  }

.calendar-1{
  top: 90vw;
  left:-100vw; 
}
.danastra2{
  top: -313vw;
  left:-151vw; 
}
.icons-calendarA{
  top: -313vw;
  left:-153vw;
}
.danastra3 {
  top: -331vw;
  left:-8vw; 
}
.icons-calendarB{
  top: -331vw;
  left:-8vw; 
}
.danastra4{
  top: -350vw;
  left:-152vw;
}

.icons-calendarC{
  top: -350vw;
  left:-153vw;
}
 

}